.DS_Store
.DS_Store?
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Ignore IDE Settings (User-specific configs)
.vscode/
*.user

# Ignore Build Folders
build/
cmake-build-debug/
cmake-build-release/

# Ignore Compiled Binaries (They differ per OS)
*.so
*.pyd
*.dll
*.dylib