.DS_Store
.DS_Store?
.idea/

# Ignore specific DEM files
data/dem/merged_dem_iran_N31_N41_E44_E54.tif

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Ignore IDE Settings (User-specific configs)
.vscode/
*.user
.cache/

# Ignore Build Folders
build/
cmake-build-debug/
cmake-build-release/
node_modules/
frontend/web_planner/dist/

# Ignore Compiled Binaries (They differ per OS)
*.so
*.pyd
*.dll
*.dylib
